---
layout: base
title: Home
description: Homepage of 11tea
styles: [tailwind.css]
scripts: [alpine.js, traversyJS/test.js]
---
<h3>Challenges</h3>

<div class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:grid-cols-4">
  <a href="/challenges/01-capitalization" class="btn">01</br>Capitalize</a>
  <a href="/challenges/02-randomization" class="btn">02</br>Randomize</a>
  <a href="/challenges/03" class="btn">03</a>
  <a href="/challenges/04" class="btn">04</a>
  <a href="/challenges/05" class="btn">05</a>
  <a href="/challenges/06" class="btn">06</a>
  <a href="/challenges/07" class="btn">07</a>
  <a href="/challenges/08" class="btn">08</a>
  <a href="/challenges/09" class="btn">09</a>
</div>