<footer class="flex items-center justify-between w-full" role="contentinfo">
  <!-- Box 1 -->
  <div class="ml-4 box1">
    Box 1
  </div>

  <!-- Copyright Information -->
  <div class="flex items-center justify-center flex-grow copyright-container">
    <p class="font-bold text-md">
      &copy; {{ "now" | date: "%Y" }} - Üben mit Richard
    </p>
  </div>

  <!-- Box 3 -->
  <div class="flex items-center justify-end mr-4 box3">
    Box 3
  </div>
</footer>
