---
layout: base
title: 01 Capitalization
description: Challenge 01 - Capitalization
styles: [tailwind.css]
scripts: [alpine.js, challenges/01-capitalization.js]
---

<h3>01 Capitalization</h3>

<ul>
  <li>string with multiple words</li>
  <li>every word should be capitalized</li>
</ul>
  

<div> 
Ausgangsphrase mit der id inputtext
<div class="font-bold" id="inputtext">das ist hier alles noch klein geschrieben</div>
</div>

<div>
  Nach der Capitalization div mit id outputtext
<div id="outputtext" class="font-bold">noch nix</div>
</div>
