---
layout: base
title: 02 Randomization
description: Challenge 01 - Randomization
styles: [tailwind.css]
scripts: [alpine.js, challenges/02-randomization.js]
---

<h3>02 Randomization</h3>
<p>
  Die Zufallszahl Nummer 1 ist:
  <span id="randomnumber1"></span>. Die Zufallszahl 2 ist:
  <span id="randomnumber2"></span>. 
  Die Summe beider Zahlen ist:
  <span id="addition"></span>. 
  Das Produkt beider Zahlen ist:
  <span id="multiplikation"></span>.
  Der Quotient beider Zahlen ist:
  <span id="division"></span>.
  Der Rest von bei Teilung von
  <span id="randomnumber1"></span>
  durch
  <span id="randomnumber2"></span>
  ist:
  <span id="rest"></span>.
</p>